/**
* CONTAINER
*/

.container, .container-full {
  width: 100%;
  margin: auto;
}

.container {
  @each $index, $attributes in $bob-breakpoints {
    @media (min-width: #{map-deep-get($bob-breakpoints, $index, min-width)}px) {
      max-width: #{map-deep-get($bob-breakpoints, $index, container-max-width)}px;
    }
  }
}